.container{
    width: 100px
    margin: auto;
    background-color: black;
    height: 300px;
}
button{
    text-align: center;
    background-color: rgb(14, 14, 148);
    color: white;
}
.page{
   
    height:250px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}
.boxh1{
    text-align: center;
    color: tomato;
}
.foot{
    background-color: #97878a;
    text-align: center;
    color: black;
    height: 150px;
}
.last{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    
}
.fea{
    text-align: center;
    font-size: 50px;
    }

.feature{
    height: 75px;
    width: 400px;
    border:solid;
    text-align: center;
    border: 1px solid #0b0101;
    border-radius: 7px;
    margin: 30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 45px;
}
.outer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    marging: 100px;
}
/* }
.box2{
    height: 150px;
    width: 400px;
    border:solid;
    margin: 30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;
}
.box3{
    height: 150px;
    width: 400px;
    border:solid;
    margin: 30px;
    margin-right:30px;
    display: flex;
    flex-direction: column; */

} 
/* .boxes{
    height: 150px;
    width: 420px;
    border:solid;   
    display:inline
 }  */

