*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: medium;
    background-color: black;
    color: aliceblue;
    align-items: center;
    min-height: max-content;
}
header{
    text-align: center;
    padding: 30%;
    height: 2px;
    width: auto;
    background-color: rgb(215,168,127);
    font-size: 2rem;
    color: black;
}
